<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.es.drivingforu">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/image_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/image_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.activity_splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.new_trip" />
        <activity android:name=".activities.starting_acitvity" />
        <activity android:name=".activities.confirmed_booking" />
        <activity android:name=".activities.login4" />
        <activity android:name=".activities.register4" />
        <activity android:name=".activities.login5" />
        <activity android:name=".activities.register5" />
        <activity android:name=".activities.driverList" />
        <activity android:name=".activities.Display_SQL" />
        <activity android:name=".activities.profile" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.driver_profile" />
        <activity android:name=".activities.feedback"></activity>
    </application>

</manifest>